######################################################  SECRETS  ######################################################
#-> SECRETS\cloudflare
_HYPERION_SECRETS_CLOUDFLARE_EMAIL=
_HYPERION_SECRETS_CLOUDFLARE_API_KEY=
#-> SECRETS\grafana
_HYPERION_SECRETS_GRAFANA_ADMIN_USER=
_HYPERION_SECRETS_GRAFANA_ADMIN_PASSWORD=
#-> SECRETS\oauth
_HYPERION_SECRETS_OAUTH_GOOGLE_CLIENT_ID=
_HYPERION_SECRETS_OAUTH_GOOGLE_CLIENT_SECRET=
_HYPERION_SECRETS_OAUTH_SECRET=
_HYPERION_SECRETS_OAUTH_WHITELIST_EMAIL=
#-> SECRETS\sematext-agent
_HYPERION_SECRETS_SEMATEXT_AGENT_INFRA_TOKEN=
_HYPERION_SECRETS_SEMATEXT_AGENT_CONTAINER_TOKEN=
_HYPERION_SECRETS_SEMATEXT_AGENT_LOGS_TOKEN=
#######################################################################################################################
